SECRET_KEY=dev-secret-change-me

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kavramingo
DB_SOCKET=/opt/lampp/var/mysql/mysql.sock

KAVRAM_API_BASE_URL=http://127.0.0.1:8000
KAVRAM_API_TOKEN=
KAVRAM_API_MOCK=false

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

MAIL_USERNAME=
MAIL_PASSWORD=
